<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10 Digits Bénin</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
</head>
<body>
    <header>
        <h1>10 DIGITS BENIN 🇧🇯</h1>
        <p>Mettez à jour vos contacts de 8 chiffres à la norme 10 chiffres en un clic !</p>
    </header>

    <main>
        <section class="features">
            <h2>Une application qui :</h2>
            <ul>
                <li>Convertit automatiquement vos contacs</li>
                <li>N'affecte que vos contacts béninois</li>
                <li>Est gratuite et facile à utiliser</li>
            </ul>
        </section>

        <section class="download">
            <h2>Téléchargez l'application</h2>
            <a href="/files/10-digits-bj-v1.apk" class="btn" download="10DigitsBj.apk">Télécharger l'APK</a>
        </section>
    </main>

    <footer>
        <p>© 2024 <<a href="mailto:happydev.229@gmail.com" style="color: white; text-decoration:none; ">MaxDev</a>> - Tous droits réservés</p>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>
